extends base

block stylesheets
  link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
  link(rel='stylesheet', href='/stylesheets/grid.css')

block javascripts
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/jquery-ui.custom.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/lib.js')
  script(src='/javascripts/view.js')
  script(src='/javascripts/grid.js')

block top

block content
  div#cameras
    each cam in cameras
      - var classes = 'camera draggable';
      - if (cfg[cam.id.substr(3,2)].alarm>0) classes += ' alarm'
      - if (cfg[cam.id.substr(3,2)].registry.reg_on>0) classes += ' registry'
      div(id="#{cam.id}", class="#{classes}", style="position:absolute; margin-left:0; margin-top:0; top:#{cam.top}px; left:#{cam.left}px;")
        img.resizable(src='#', width="#{cam.width}", height="#{cam.height}") 
        div.info
          div.time
          div.cam
          div.fps
          div.descr
        div.color
  

  //input#testButton(type="button", value="test")
  //div.teste(style="position:absolute; top:700px; left:0;")
  //  p#down down
  //  p#up up
  

  #div-context-menu
    div
      img(src='/images/nodeminderjs.png', width=102, height=40, alt='NodeMinder.js')
    ul#img-context-menu
      //li.ui-state-disabled
      //  a(href="#") Option 1
      li#img-menu-1
        a(href="#") Bring to front
      li#img-menu-2
        a(href="#") Send to back
      hr
      li#img-menu-3
        a(href="#") Delete camera
      
  #div-main-menu
    div
      img(src='/images/nodeminderjs.png', width=102, height=40, alt='NodeMinder.js')
    ul#main-menu
      li#main-menu-1
        a(href="#") Unlock
      hr
      li#main-menu-2
        a(href="#") Add camera
      hr
      li#main-menu-3
        a(href="#") Save config
      
  #alert-save-ok.alert.ok
    div Customizations saved!
  
  #alert-save-error.alert.error
    div Error saving customizations!
    .alert-msg

  //#debug debug

  #alarm-dialog(title="Alarm")
    h3#alarm-datetime Date
    div#alarm-list
      ul#alarm-ul
        li 15:30:46
        li 15:45:25
        li 15:59:18
        li 16:12:21
    div#alarm-video.
      <video width="320" height="240" controls>
        <source src="#" type="video/mp4">
        Your browser does not support the video tag.
      </video>  

  #registry-dialog(title="Registry")
    div#reg-form
      fieldset
        legend Id
        //label(for='reg-id') Id:
        input#reg-id(type='text', value='')
        button Search
      fieldset#reg-info
        legend Info
        #reg-found
        table
          tbody
            tr
              td
                label(for='reg-nome') Nome:
              td
                input(id='reg-nome', type='text', value='')
            tr
              td
                label(for='reg-empresa') Empresa:
              td
                input(id='reg-empresa', type='text', value='')
                    