extends layout

block content
  p
    a(href='/grid', target='_blank') Show grid
  table#cameras
    thead
      tr.head
        th Camera
        th Description
        th Fps
        th
        th
    tbody
      - var i = -1
      each val, key in cameras
        - ++i
        tr(class=(i % 2 == 0) ? 'odd' : 'even')
          td #{key}
          td #{val.descr}
          td #{val.fps}
          td
            a(href='/view/#{key}', target='_blank') View
          td
            a(href='/events/#{key}', target='_blank') Events
